{% include 'dashboard_admin/layouts/header.html' %}
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Sidebar Start -->
        {% include 'dashboard_admin/layouts/sidebar.html' %}
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            {% include 'dashboard_admin/layouts/navbar.html' %}
            <!-- Navbar End -->

            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Verifikasi Formulir Calon Santri Tsanawiyah</h6>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Nama</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">No Telepon</th>
                                            <th scope="col">Status Formulir</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        {% if user['status formulir'] != 'None'  %}
                                        <tr>
                                            <th scope="row">{{ loop.index0 + offset + 1 }}</th>
                                            <td>{{ user.nama }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.phone }}</td>
                                            <td>{{ user['status formulir'] }}</td>
                                            <td>
                                                <div class="d-flex flex-row gap-1">
                                                    {% if user['status formulir'] == 'Pending' or user['status formulir'] == 'Done' %}
                                                    <a class="btn btn-sm btn-secondary" href="/admin/formulir/tsanawiyah/{{ user._id }}"><i class="fa fa-eye"></i></a>
                                                    {% endif %}
                                                    {% if user['status formulir'] == 'Pending' %}
                                                    <form id="approveForm" action="/admin/formulir/tsanawiyah/{{ user._id }}" method="POST">
                                                        <button id="approveButton" class="btn btn-sm btn-success" type="submit"><i class="fa fa-check"></i></button>
                                                    </form>
                                                    <button class="btn btn-sm btn-danger" type="button" onclick="rejectForm('{{ user._id }}')"><i class="fa fa-times"></i></button>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {{ pagination.info }}
                                {{ pagination.links }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->

            <!-- Footer Start -->
            {% include 'dashboard_admin/layouts/footer.html' %}
            <!-- Footer End -->
            <script>
                function rejectForm(userId) {
                    swal({
                        title: "Apakah kamu yakin?",
                        text: "Tulis alasan ditolak:",
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Alasan ditolak",
                                type: "text"
                            },
                        },
                        icon: "warning",
                        buttons: {
                            cancel: {
                                text: "Batal",
                                visible: true,
                                className: "btn btn-secondary"
                            },
                            confirm: {
                                text: "Tolak",
                                className: "btn btn-danger"
                            }
                        },
                        dangerMode: true
                    }).then((value) => {
                        if (value) {
                            let rejectionMessage = value;
                            fetch(`/admin/formulir/tsanawiyah/reject/${userId}`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ rejectionMessage: rejectionMessage })
                            })
                            .then(response => {
                                if (response.ok) {
                                    swal("Formulir sudah ditolak", {
                                        icon: "success",
                                    }).then(() => {
                                        location.reload();
                                    });
                                } else {
                                    swal("Terjadi kesalahan, silahkan coba lagi", {
                                        icon: "error",
                                    });
                                }
                            });
                        }
                    });
                }

                document.getElementById("approveForm").addEventListener("submit", function(event) {
                    event.preventDefault();
                    swal({
                        title: "Apakah kamu yakin?",
                        text: "Formulir akan disetujui.",
                        icon: "warning",
                        buttons: {
                            cancel: {
                                text: "Batal",
                                visible: true,
                                className: "btn btn-danger"
                            },
                            confirm: {
                                text: "Setujui",
                                className: "btn btn-success"
                            }
                        },
                        dangerMode: true
                    }).then((willApprove) => {
                        if (willApprove) {
                            swal({
                                text: "Formulir sudah disetujui.",
                                icon: "success"
                            }).then(() => {
                                document.getElementById("approveForm").submit();
                            });
                        }
                    });
                });
            </script>
</body>
