<footer class="footer-section">
  <div class="footer__text set-bg bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 pr-5">
          <div class="footer__text-widget">
            <div class="footer__logo">
              <a href="/"><h5>YAYASAN ULUMUL QUR'AN</h5></a>
            </div>
            <p>
              Akta Pendirian Yayasan Ulumul Qur'an dengan Akta Notaris Eni Nur'aeni Hamdani, SH di Kota Serang No. 1 tanggal 05 Agustus 2014 atas kuasa para Pendiri sesuai Akta No. 93 tanggal 31 Juli 1986 Notaris Ny. Chairani Bustami, SH,
              di Medan H. Syahrial AMS, SH. M.Hum, Ir. Amir Syarifuddin, MM, Achyar Ahmad Ridwan, SH dan Drs Hj Suryana Berlian.
            </p>
            <div class="footer__social">
              <a href="https://www.facebook.com/people/Yayasan-Ulumul-Quran/100077203335876/" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.youtube.com/channel/UC1bb-YVvYrjnBtlonMMrHWQ/featured" target="_blank"><i class="fa fa-youtube-play"></i></a>
              <a href="https://www.instagram.com/yuq.official/" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 pl-5">
          <div class="footer__text-widget">
            <h5>Navigasi</h5>
            <ul>
              <li><a href="/">Beranda</a></li>
              <li><a href="/sejarah">Sejarah</a></li>
              <li><a href="/visi-misi">Visi & Misi</a></li>
              <li><a href="/kegiatan">Kegiatan & Fasilitas</a></li>
              <li><a href="/dashboard">Pendaftaran</a></li>
              <li><a href="/kontak">Kontak kami</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="footer__text-widget">
            <h5>Kontak Kami</h5>
            <ul class="footer__widget-info">
              <li><span class="fa fa-map-marker"></span>Jl. K. H. Wahid Hasyim No.3, Kwala Bingai, Kec. Stabat, Kabupaten Langkat, Sumatera Utara 20811</li>
              <li><span class="fa fa-phone"></span> +62 815-3518-426</li>
              <li><span class="fa fa-envelope"></span> yuqofficial@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__text-copyright">
        <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | Yayasan Ulumul Qur'an</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="../../../static/assetsUserPage/js/jquery-3.3.1.min.js"></script>
<script src="../../../static/assetsUserPage/js/bootstrap.min.js"></script>
<script src="../../../static/assetsUserPage/js/jquery.slicknav.js"></script>
<script src="../../../static/assetsUserPage/js/owl.carousel.min.js"></script>
<script src="../../../static/assetsUserPage/js/main.js"></script>
<script>
  function confirmLogout() {
    swal({
      title: "Konfirmasi Logout",
      text: "Apakah Anda yakin ingin keluar?",
      icon: "warning",
      buttons: {
        cancel: {
          text: "Batal",
          value: null,
          visible: true,
          className: "",
          closeModal: true,
        },
        confirm: {
          text: "Ya, keluar",
          value: true,
          visible: true,
          className: "",
          closeModal: true,
        },
      },
    }).then((isConfirm) => {
      if (isConfirm) {
        window.location.href = "/logout";
      }
    });
  }
</script>
