<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Deerhost Template" />
    <meta name="keywords" content="Deerhost, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Tag Og -->
    <meta property="og:title" content="{{ data.title }}" />
    <meta property="og:description" content="Website Official Pendaftaran Santri Baru Pondok Pesantren Ulumul Qur'an" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://ibb.co.com/rt8yWw6" />

    <!-- Favicon -->
    <link href="/static/favicon.ico" rel="shortcut icon" />

    <title>Ulumul Quran | {{ data.title }}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../../static/assetsUserPage/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/assetsUserPage/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/assetsUserPage/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/assetsUserPage/css/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/assetsUserPage/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/assetsUserPage/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/assetsUserPage/css/style.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
      .form-section {
        display: none;
      }

      .form-section.current {
        display: block;
      }
    </style>
  </head>
</html>
