<div class="offcanvas__menu__overlay"></div>
<div class="offcanvas__menu__wrapper">
  <div class="canvas__close">
    <span class="fa fa-times-circle-o"></span>
  </div>
  <div class="offcanvas__logo">
    <a href="#"><img src="../../static/assetsUserPage/img/logo.png" alt="" /></a>
  </div>
  <nav class="offcanvas__menu mobile-menu">
    <ul>
      <li class="active"><a href="/">Beranda</a></li>
      <li>
        <a href="#">Profil</a>
        <ul class="dropdown">
          <li><a href="/sejarah">Sejarah</a></li>
          <li><a href="/visimisi">Visi & Misi</a></li>
          <li><a href="/kegiatan">Kegiatan & Fasilitas</a></li>
        </ul>
      </li>
      <li><a href="/kontak">Contact</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="offcanvas__auth">
    <ul>
      <li>
        <a href="/auth"
          ><span class="fa fa-user"></span>
          {% if user_info %} {{ user_info.nama }} {% else %} Login / Register {% endif %}
        </a>
      </li>
    </ul>
  </div>
  <div class="offcanvas__info">
    <ul>
      <li><span class="icon_phone"></span> +1 123-456-7890</li>
      <li><span class="fa fa-envelope"></span> ulumulquran@gmail.com</li>
    </ul>
  </div>
</div>
<!-- Offcanvas Menu End -->

<header class="header-section header-normal">
  <div class="header__info">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__info-left">
            <ul>
              <li><span class="icon_phone"></span> +1 123-456-7890</li>
              <li><span class="fa fa-envelope"></span> ulumulquran@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__info-right">
            <ul>
              <li>
                <a href="/auth"><span class="fa fa-user"></span>{% if user_info %} {{ user_info.nama }} {% else %} Login / Register {% endif %}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-3 d-flex align-items-center">
        <div class="header__logo">
          <a href="/"><img src="../../static/assetsUserPage/img/logo.png" alt="" /></a>
        </div>
        <div class="header__text2">
          <a href="/"><h4 class="fw-bold text-white ml-3">YAYASAN ULUMUL QUR'AN</h4></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-9">
        <nav class="header__menu">
          <ul>
            <li><a href="/">Beranda</a></li>
            <li>
              <a href="#">Profil</a>
              <ul class="dropdown">
                <li><a href="/sejarah">Sejarah</a></li>
                <li><a href="/visimisi">Visi & Misi</a></li>
                <li><a href="/kegiatan">Kegiatan & Fasilitas</a></li>
              </ul>
            </li>
            <li><a href="/kontak">Kontak Kami</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="canvas__open">
      <span class="fa fa-bars"></span>
    </div>
  </div>
</header>
<!-- Header End -->
