<div class="bg-dark text-white" id="sidebar-wrapper">
  <div class="sidebar-heading">Dashboard User</div>
  <div class="list-group list-group-flush bg-dark">
    <a class="list-group-item-action p-3" href="/DashboardUser">Home</a>
    <a class="list-group-item-action p-3" href="/formulir">Formulir</a>
    <a class="list-group-item-action p-3" href="/documen">Dokumen</a>
    <a class="list-group-item-action p-3" href="/StatusPendaftaran">Verifikasi</a>
    <a class="list-group-item-action p-3" href="/Pembayaran">Pembayaran</a>
    <a class="list-group-item-action p-3" href="#!">Log Out</a>
  </div>
</div>
