<div class="bg-dark text-white" id="sidebar-wrapper">
  <div class="sidebar-heading">Dashboard User</div>
  <div class="list-group list-group-flush bg-dark">
    <a class="list-group-item-action p-3" href="/dashboard">Home</a>
    <a class="list-group-item-action p-3" href="/dashboard/formulir">Formulir</a>
    <a class="list-group-item-action p-3" href="/dashboard/dokumen">Dokumen</a>
    <a class="list-group-item-action p-3" href="/dashboard/status">Status Pendaftaran</a>
    <a class="list-group-item-action p-3" href="/dashboard/pembayaran">Pembayaran</a>
    <a type="button" class="list-group-item-action p-3" onclick="logout()">Log Out</a>
  </div>
</div>
