{% include "user_page/layouts/header.html" %}

<body>
  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas__menu__overlay"></div>
  <div class="offcanvas__menu__wrapper">
    <div class="canvas__close">
      <span class="fa fa-times-circle-o"></span>
    </div>
    <div class="offcanvas__logo">
      <a href="#"><img src="../../static/assetsUserPage/img/logo.png" alt="" /></a>
    </div>
    <nav class="offcanvas__menu mobile-menu">
      <ul>
        <li class="active"><a href="/">Beranda</a></li>
        <li>
          <a href="#">Profil</a>
          <ul class="dropdown">
            <li><a href="/sejarah">Sejarah</a></li>
            <li><a href="/visimisi">Visi & Misi</a></li>
            <li><a href="/kegiatan">Kegiatan & Fasilitas</a></li>
          </ul>
        </li>
        <li><a href="/kontak">Contact</a></li>
      </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
      <ul>
        <li>
          <a href="/auth"><span class="fa fa-user"></span>{% if user_info %} {{ user_info.nama }} {% else %} Login / Register {% endif %}</a>
        </li>
      </ul>
    </div>
    <div class="offcanvas__info">
      <ul>
        <li><span class="icon_phone"></span> +1 123-456-7890</li>
        <li><span class="fa fa-envelope"></span> ulumulquran@gmail.com</li>
      </ul>
    </div>
  </div>
  <!-- Offcanvas Menu End -->

  <!-- Header Section Begin -->
  <header class="header-section">
    <div class="header__info">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="header__info-left">
              <ul>
                <li><span class="icon_phone"></span> +1 123-456-7890</li>
                <li><span class="fa fa-envelope"></span> ulumulquran@gmail.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="header__info-right">
              <ul>
                <li>
                  <a href="/auth"
                    ><span class="fa fa-user"></span>
                    {% if user_info %} {{ user_info.nama }} {% elif admin_info %} {{ admin_info.username }} {% else %} Login / Register {% endif %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-3 d-flex align-items-center">
          <div class="header__logo">
            <a href="/"><img src="../../static/assetsUserPage/img/logo.png" alt="" /></a>
          </div>
          <div class="header__text">
            <h4 class="fw-bold text-white ml-3">YAYASAN ULUMUL QUR'AN</h4>
          </div>
        </div>
        <div class="col-lg-6 col-md-9">
          <nav class="header__menu">
            <ul>
              <li class="active"><a href="/">Beranda</a></li>

              <li>
                <a href="#">Profil</a>
                <ul class="dropdown">
                  <li><a href="/sejarah">Sejarah</a></li>
                  <li><a href="/visimisi">Visi & Misi</a></li>
                  <li><a href="/kegiatan">Kegiatan & Fasilitas</a></li>
                </ul>
              </li>
              <li><a href="/kontak">Kontak Kami</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="canvas__open">
        <span class="fa fa-bars"></span>
      </div>
    </div>
  </header>
  <!-- Header End -->

  <!-- Hero Section Begin -->
  <section class="hero-section">
    <div class="hero__slider owl-carousel">
      <div class="hero__item set-bg" data-setbg="../../static/assetsUserPage/img/hero/hero-4.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero__text">
                <h5>Selamat Datang di</h5>
                <h2>
                  Website Official<br />
                  Yayasan Ulumul Qur'an
                </h2>
                <a href="#sejarah" class="primary-btn">Lihat selengkapnya</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__item set-bg" data-setbg="../../static/assetsUserPage/img/hero/hero-4.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero__text">
                <h2>
                  Pendaftaran Santri Baru<br />
                  Telah dibuka
                </h2>
                <a href="#daftar" class="primary-btn">Daftar Sekarang</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- Register Domain Section Begin -->
  <!-- Register Domain Section End -->
  <section class="sejarah-section spad" id="sejarah">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
          <img src="../../static/assetsUserPage/img/logo.png" alt="" style="width: 300px" />
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="plan__text">
            <h3>Sejarah Singkat Yayasan Ulumul Qur'an</h3>
            <p class="text-justify">
              Pesantren Ulumul Qur'an didirikan oleh H. Syahrial Abdul Malik Sulaiman (AMS), SH, M.Hum, terinspirasi saat menjabat Kepala Kantor Departemen Agama Kabupaten Langkat (1983-1990), dengan tujuan mengembalikan kejayaan Langkat
              sebagai juara MTQ tingkat Provinsi, seperti pada Sayembara Al-Qur'an Provinsi pertama tahun 1951. Dukungan kuat datang dari masyarakat Langkat yang mayoritas Muslim dan merupakan basis ulama serta pusat Thariqat Naqsabandiah
              Babusalam. Pada MTQ Provinsi Sumatera Utara XVIII tahun 1984 di Kota Tebing Tinggi, Langkat ditunjuk sebagai tuan rumah MTQ ke XIX tahun 1986. Dukungan operasional dan kelembagaan didapat dari Bupati H. Marzuki Erman, Sekda
              Drs. H. Hakimil Nasution, Ketua DPRD Drs. Hasan Saidi, Ketua MUI H. Wahab Lubis, serta ulama nasional H. Azrai Abdurrauf. Yayasan sebagai badan hukum penyelenggara didirikan untuk melibatkan berbagai elemen dalam pengembangan
              pesantren, dengan H. Marzuki Erman sebagai Ketua Umum Yayasan.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6 col-md-6">
          <div class="section-title">
            <h3>Visi</h3>
            <p class="mt-5">Membentuk generasi muda Islam Ahlusunnah Wal Jama'ah yang Qur'ani, Beriman, Berakhlakul karimah, Bertaqwa kepada Allah SWT, Berilmu pengetahuan, Cerdas, Setia Kepada Pancasila,UUD 1945 dan NKRI.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="section-title">
            <h3>Misi</h3>
            <ol class="mt-5">
              <li>Mewujudkan Pesantren Ulumul Qur'an Sebagai Pusat Pendidikan Islam</li>
              <li>Menciptakan Kader Pemimpin Yang Bermoral dan Berakhlaqul Karimah Sesuai Tuntunan Al-Qur'an</li>
              <li>Menciptakan Kader Ulama, Huffadzh dan Qurra' Al-Qur'an</li>
              <li>Menciptakan Kader Fahmil Qur'an, Syarhil Qur'an, Khattil Qur'an, dan Mufassir Al-Qur'an</li>
              <li>Meningkatkan Kualitas Sumber Daya Manusia Yang Terampil</li>
              <li>Mewujudkan Pusat Informasi Pesantren</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section Begin -->
  <section class="program-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3>program pendidikan</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>Madrasah Tsanawiyah</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>Madrasah Aliyah</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>tahfidz</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="daftar-section spad" id="daftar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3>alur pendaftaran santri baru</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>1. Daftar Akun</h5>
            <p>Calon santri wajib mendaftarkan akun terlebih dahulu di website ini.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>2. Mengisi Formulir & Dokumen</h5>
            <p>Setelah mendaftar, calon santri diarahkan untuk mengisi formulir dan mengirimkan dokumen yang diperlukan.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>3. Pembayaran</h5>
            <p>Setelah mengisi semua dokumen, calon santri lanjut ke proses administrasi.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <a href="/dashboard" class="primary-btn">Daftar Sekarang</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'user_page/layouts/footer.html' %}
</body>
