{% include "user_page/layouts/header.html" %}
<body>
  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas__menu__overlay"></div>
  <div class="offcanvas__menu__wrapper">
    <div class="canvas__close">
      <span class="fa fa-times-circle-o"></span>
    </div>
    <div class="offcanvas__logo">
      <a href="#"><img src="../../static/assetsUserPage/img/logo.png" alt="" /></a>
    </div>
    <nav class="offcanvas__menu mobile-menu">
      <ul>
        <li class="active"><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a href="./hosting.html">Hosting</a></li>
        <li>
          <a href="#">Pages</a>
          <ul class="dropdown">
            <li><a href="./pricing.html">Pricing</a></li>
            <li><a href="./blog-details.html">Blog Details</a></li>
            <li><a href="./404.html">404</a></li>
          </ul>
        </li>
        <li><a href="./blog.html">News</a></li>
        <li><a href="./contact.html">Contact</a></li>
      </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
      <ul>
        <li>
          <a href="#"><span class="fa fa-user"></span> Login / Register</a>
        </li>
      </ul>
    </div>
    <div class="offcanvas__info">
      <ul>
        <li><span class="icon_phone"></span> +1 123-456-7890</li>
        <li><span class="fa fa-envelope"></span> Support@gmail.com</li>
      </ul>
    </div>
  </div>
  <!-- Offcanvas Menu End -->

  <!-- Header Section Begin -->
  <header class="header-section">
    <div class="header__info">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="header__info-left">
              <ul>
                <li><span class="icon_phone"></span> +1 123-456-7890</li>
                <li><span class="fa fa-envelope"></span> ulumulquran@gmail.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="header__info-right">
              <ul>
                <li>
                  <a href="#"><span class="fa fa-user"></span> Login / Register</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-3 d-flex align-items-center">
          <div class="header__logo">
            <a href="./index.html"><img src="../../static/assetsUserPage/img/logo.png" alt="" /></a>
          </div>
          <div class="header__text">
            <h4 class="fw-bold text-white ml-3">YAYASAN ULUMUL QUR'AN</h4>
          </div>
        </div>
        <div class="col-lg-6 col-md-9">
          <nav class="header__menu">
            <ul>
              <li class="active"><a href="./index.html">Beranda</a></li>

              <li>
                <a href="#">Profil</a>
                <ul class="dropdown">
                  <li><a href="./pricing.html">Sejarah</a></li>
                  <li><a href="./blog-details.html">Visi & Misi</a></li>
                  <li><a href="./404.html">Kegiatan & Fasilitas</a></li>
                </ul>
              </li>
              <li><a href="./contact.html">Kontak Kami</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="canvas__open">
        <span class="fa fa-bars"></span>
      </div>
    </div>
  </header>
  <!-- Header End -->

  <!-- Hero Section Begin -->
  <section class="hero-section">
    <div class="hero__slider owl-carousel">
      <div class="hero__item set-bg" data-setbg="../../static/assetsUserPage/img/hero/hero-4.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero__text">
                <h5>Selamat Datang di</h5>
                <h2>
                  Website Official<br />
                  Yayasan Ulumul Qur'an
                </h2>
                <a href="#" class="primary-btn">Lihat selengkapnya</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__item set-bg" data-setbg="../../static/assetsUserPage/img/hero/hero-4.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero__text">
                <h2>
                  Pendaftaran Santri Baru<br />
                  Telah dibuka
                </h2>
                <a href="#" class="primary-btn">Daftar Sekarang</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- Register Domain Section Begin -->
  <!-- Register Domain Section End -->
  <section class="choose-plan-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <img src="../../static/assetsUserPage/img/logo.png" alt="" style="width: 300px" />
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="plan__text">
            <h3>Sejarah Singkat Yayasan Ulumul Qur'an</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, sunt laboriosam dolore tempora cum error voluptatum nobis quos rem placeat veritatis consectetur fuga corporis, voluptate cupiditate ab ex laborum a.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section Begin -->
  <section class="services-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3>program pendidikan</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>Madrasah Tsanawiyah</h5>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>Madrasah Aliyah</h5>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>tahfidz</h5>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="choose-plan-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3>alur pendaftaran santri baru</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>1. Daftar Akun</h5>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>2. Mengisi Form</h5>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>3. Pembayaran</h5>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

{% include 'user_page/layouts/footer.html' %}
