{% include 'user_page/layouts/header.html' %}

<body>
  <!-- Offcanvas & Header Menu Begin -->
  {% include 'user_page/layouts/navbar.html' %}
  <!-- Offcanvas & Header Menu End -->

  <!-- Breadcrumb Begin -->
  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__option">
            <a href="/"><span class="fa fa-home"></span> Home</a>
            <span>Fasilitas dan Kegiatan</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Contact Section Begin -->
  <section class="program-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3>Fasilitas dan Kegiatan</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>Fasilitas</h5>
            <ul>
              <li>Masjid</li>
              <li>Ruang Kelas</li>
              <li>Ruang Aula</li>
              <li>Lab. Komputer</li>
              <li>Lab. Bahasa</li>
              <li>Perpustakaan</li>
              <li>Asrama Santri</li>
              <li>Klinik Kesehatan</li>
              <li>Lap. Olahraga</li>
              <li>Ruang Makan Santri</li>
              <li>Kantin</li>
              <li>Laundry</li>
              <li>Waserdam</li>
          </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>Jadwal Kegiatan</h5>
            <ul>
              <li>
                <span>03.30 - 04.30</span>
                Khusus hari Minggu pagi, melaksanakan Shalat Tahajud.
              </li>
              <li>
                <span>04.30 - 06.00</span>
                Bangun pagi, dilanjutkan dengan Shalat Subuh berjamaah.
              </li>
              <li>
                <span>06.00 - 07.00</span>
                Sarapan pagi dan persiapan ke sekolah.
              </li>
              <li>
                <span>07.00 - 12.30</span>
                Kegiatan Belajar Mengajar (KBM) SK & Mts.
              </li>
              <li>
                <span>12.30 - 14.00</span>
                Istirahat, Shalat Dzuhur Berjamaah, Makan Siang (ISHOMA).
              </li>
              <li>
                <span>14.00 - 16.00</span>
                Kegiatan Pembelajaran Tahfiziyah (Pelajaran Pondok).
              </li>
              <li>
                <span>16.00 - 17.30</span>
                Shalat Ashar Berjamaah dilanjutkan Olahraga.
              </li>
              <li>
                <span>17.30 - 18.00</span>
                Makan malam.
              </li>
              <li>
                <span>18.00 - 19.00</span>
                Shalat Maghrib Berjamaah.
              </li>
              <li>
                <span>19.00 - 20.30</span>
                Pengajian Al-Qur'an Binnazhar dan Setoran Tahfizul Qur'an.
              </li>
              <li>
                <span>20.30 - 21.00</span>
                Shalat Isya Berjamaah.
              </li>
              <li>
                <span>21.00 - 21.30</span>
                Makan ringan.
              </li>
              <li>
                <span>21.30 - 22.00</span>
                Mengulang Pelajaran di Asrama / Pembinaan Bahasa Arab.
              </li>
              <li>
                <span>22.00 - 04.30</span>
                Istirahat (tidur).
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="services__item">
            <h5>Ektrakulikuler</h5>
            <ul>
              <li>Hifdzil Qur'an</li>
              <li>Fahmil Qur'an</li>
              <li>Syahril Qur'an</li>
              <li>Tilawatil Qur'an</li>
              <li>Kaligrafi Qur'an</li>
              <li>Panahan</li>
              <li>Pramuka</li>
              <li>Shalawat</li>
              <li>Nasyid, Hadroh</li>
              <li>Tari</li>
              <li>PASKIBRAKA</li>
              <li>Menjahit</li>
              <li>Taekwondo, dll</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
            <!-- Image and Schedule Section Begin -->
            <!-- Image and Schedule Section End -->

  <!-- Contact Section End -->

  <!-- Contact Form Begin -->
   

  <!-- Contact Form End -->

  {% include 'user_page/layouts/footer.html' %}
  <script>
    $(document).ready(function () {
      $("#profil").addClass("active");
    });
  </script>
</body>