{% include 'user_page/layouts/header.html' %}

<body>
  <!-- Offcanvas & Header Menu Begin -->
  {% include 'user_page/layouts/navbar.html' %}
  <!-- Offcanvas & Header Menu End -->

  <!-- Breadcrumb Begin -->
  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__option">
            <a href="/"><span class="fa fa-home"></span> Home</a>
            <span>Fasilitas & Kegiatan</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Contact Section Begin -->
  <section class="daftar-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3>Kegiatan</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="services__item kegiatan">
            <h5>Jadwal Kegiatan</h5>
            <ul>
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <li>
                    <p class="fw-bold">03.30 - 04.30</p>
                    Khusus hari Minggu pagi, melaksanakan Shalat Tahajud.
                  </li>
                  <li>
                    <p class="fw-bold">04.30 - 06.00</p>
                    Bangun pagi, dilanjutkan dengan Shalat Subuh berjamaah.
                  </li>
                  <li>
                    <p class="fw-bold">06.00 - 07.00</p>
                    Sarapan pagi dan persiapan ke sekolah.
                  </li>
                  <li>
                    <p class="fw-bold">07.00 - 12.30</p>
                    Kegiatan Belajar Mengajar (KBM) SK & Mts.
                  </li>
                  <li>
                    <p class="fw-bold">12.30 - 14.00</p>
                    Istirahat, Shalat Dzuhur Berjamaah, Makan Siang (ISHOMA).
                  </li>
                  <li>
                    <p class="fw-bold">14.00 - 16.00</p>
                    Kegiatan Pembelajaran Tahfiziyah (Pelajaran Pondok).
                  </li>
                  <li>
                    <p class="fw-bold">16.00 - 17.30</p>
                    Shalat Ashar Berjamaah dilanjutkan Olahraga.
                  </li>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <li>
                    <p class="fw-bold">17.30 - 18.00</p>
                    Makan malam.
                  </li>
                  <li>
                    <p class="fw-bold">18.00 - 19.00</p>
                    Shalat Maghrib Berjamaah.
                  </li>
                  <li>
                    <p class="fw-bold">19.00 - 20.30</p>
                    Pengajian Al-Qur'an Binnazhar dan Setoran Tahfizul Qur'an.
                  </li>
                  <li>
                    <p class="fw-bold">20.30 - 21.00</p>
                    Shalat Isya Berjamaah.
                  </li>
                  <li>
                    <p class="fw-bold">21.00 - 21.30</p>
                    Makan ringan.
                  </li>
                  <li>
                    <p class="fw-bold">21.30 - 22.00</p>
                    Mengulang Pelajaran di Asrama / Pembinaan Bahasa Arab.
                  </li>
                  <li>
                    <p class="fw-bold">22.00 - 04.30</p>
                    Istirahat (tidur).
                  </li>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title mt-5">
            <h3>Fasilitas & Ekstrakurikuler</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="services__item kegiatan">
            <h5>Fasilitas</h5>
            <ul>
              <li>Masjid</li>
              <li>Ruang Kelas</li>
              <li>Ruang Aula</li>
              <li>Lab. Komputer</li>
              <li>Lab. Bahasa</li>
              <li>Perpustakaan</li>
              <li>Asrama Santri</li>
              <li>Klinik Kesehatan</li>
              <li>Lap. Olahraga</li>
              <li>Ruang Makan Santri</li>
              <li>Kantin</li>
              <li>Laundry</li>
              <li>Waserdam</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="services__item kegiatan">
            <h5>Ekstrakurikuler</h5>
            <ul>
              <li>Hifdzil Qur'an</li>
              <li>Fahmil Qur'an</li>
              <li>Syahril Qur'an</li>
              <li>Tilawatil Qur'an</li>
              <li>Kaligrafi Qur'an</li>
              <li>Panahan</li>
              <li>Pramuka</li>
              <li>Shalawat</li>
              <li>Nasyid, Hadroh</li>
              <li>Tari</li>
              <li>PASKIBRAKA</li>
              <li>Menjahit</li>
              <li>Taekwondo, dll</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Image and Schedule Section Begin -->
  <!-- Image and Schedule Section End -->

  <!-- Contact Section End -->

  <!-- Contact Form Begin -->

  <!-- Contact Form End -->

  {% include 'user_page/layouts/footer.html' %}
  <script>
    $(document).ready(function () {
      $("#profil").addClass("active");
    });
  </script>
</body>
