{% include 'user_page/layouts/header.html' %}
<body>
  <!-- Offcanvas & Header Menu Begin -->
  {% include 'user_page/layouts/navbar.html' %}
  <!-- Offcanvas & Header Menu End -->
  <!-- Breadcrumb Begin -->
  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__option">
            <a href="/"><span class="fa fa-home"></span> Home</a>
            <span>Kontak</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Contact Section Begin -->
  <section class="contact-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="contact__text">
            <h3>Info Kontak</h3>
            <p></p>
            <ul>
              <li>
                <span class="fa fa-map-marker"></span>
                <h5>Alamat</h5>
                <p>Jl. K. H. Wahid Hasyim No.3, Kwala Bingai, Kec. Stabat, Kabupaten Langkat, Sumatera Utara 20811. Telp. (061) 4208621</p>
              </li>
              <li>
                <span class="fa fa-mobile"></span>
                <h5>Contact Person</h5>
                <p>
                  Ust. Irwan S.H. <br />
                  (0813-7685-9320)
                </p>
                <p>Usth. Aminatul Khairiyah S.Pd. <br />(0853-5956-1550)</p>
                <p>Usth. Leni Leliana S.Pd. <br />(0813-7004-2973)</p>
              </li>
              <li>
                <span class="fa fa-envelope"></span>
                <h5>Email</h5>
                <p>yuqofficial@gmail.com</p>
              </li>
            </ul>
            <div class="contact__social">
              <a href="https://www.facebook.com/people/Yayasan-Ulumul-Quran/100077203335876/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.youtube.com/channel/UC1bb-YVvYrjnBtlonMMrHWQ/featured" class="youtube" target="_blank"><i class="fa fa-youtube-play"></i></a>
              <a href="https://www.instagram.com/yuq.official/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.2957871285585!2d98.44810017371697!3d3.7456117491992296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30372a5836d022d7%3A0x7a58ae65bcb7848f!2sPondok%20Pesantren%20Ulumul%20Qur&#39;an!5e0!3m2!1sid!2sid!4v1719063238715!5m2!1sid!2sid"
              height="515"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Section End -->

  <!-- Contact Form Begin -->
  <div class="contact-form spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>SEND MESSAGE</h3>
          <form action="#">
            <div class="input-list">
              <input type="text" placeholder="Name" />
              <input type="text" placeholder="Email" />
              <input type="text" placeholder="Website" />
            </div>
            <textarea placeholder="Question"></textarea>
            <button type="submit" class="site-btn">Send question</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'user_page/layouts/footer.html' %}
  <script>
    $(document).ready(function () {
      $("#kontak").addClass("active");
    });
  </script>
</body>
