{% include 'user_page/layouts/header.html' %}
<body>
  <!-- Offcanvas & Header Menu Begin -->
  {% include 'user_page/layouts/navbar.html' %}
  <!-- Offcanvas & Header Menu End -->
  <!-- Breadcrumb Begin -->
  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__option">
            <a href="/"><span class="fa fa-home"></span> Home</a>
            <span>Visi & Misi</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Contact Section Begin -->
  <section class="daftar-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3>VISI & MISI</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="services__item" style="height: 400px">
            <h5>VISI</h5>
            <p>Membentuk generasi muda Islam Ahlusunnah Wal Jama'ah yang Qur'ani, Beriman, Berakhlakul karimah, Bertaqwa kepada Allah SWT, Berilmu pengetahuan, Cerdas, Setia Kepada Pancasila,UUD 1945 dan NKRI.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="services__item" style="height: 400px">
            <h5>MISI</h5>
            <ul>
              <li>Mewujudkan Pesantren Ulumul Qur'an Sebagai Pusat Pendidikan Islam</li>
              <li>Menciptakan Kader Pemimpin Yang Bermoral dan Berakhlaqul Karimah Sesuai Tuntunan Al-Qur'an</li>
              <li>Menciptakan Kader Ulama, Huffadzh dan Qurra' Al-Qur'an</li>
              <li>Menciptakan Kader Fahmil Qur'an, Syarhil Qur'an, Khattil Qur'an, dan Mufassir Al-Qur'an</li>
              <li>Meningkatkan Kualitas Sumber Daya Manusia Yang Terampil</li>
              <li>Mewujudkan Pusat Informasi Pesantren</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Section End -->

  {% include 'user_page/layouts/footer.html' %}
  <script>
    $(document).ready(function () {
      $("#profil").addClass("active");
    });
  </script>
</body>
