<footer class="footer-section">
  <div class="footer__text set-bg bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 pr-5">
          <div class="footer__text-widget">
            <div class="footer__logo">
              <a href="./index.html"><h5>YAYASAN ULUMUL QUR'AN</h5></a>
            </div>
            <p>
              Akta Pendirian Yayasan Ulumul Qur'an dengan Akta Notaris Eni Nur'aeni Hamdani, SH di Kota Serang No. 1 tanggal 05 Agustus 2014 atas kuasa para Pendiri sesuai Akta No. 93 tanggal 31 Juli 1986 Notaris Ny. Chairani Bustami, SH,
              di Medan H. Syahrial AMS, SH. M.Hum, Ir. Amir Syarifuddin, MM, Achyar Ahmad Ridwan, SH dan Drs Hj Suryana Berlian.
            </p>
            <div class="footer__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 pl-5">
          <div class="footer__text-widget">
            <h5>Navigasi</h5>
            <ul>
              <li><a href="/">Beranda</a></li>
              <li>
                <a href="#profil">Profil</a>
                <ul class="footer__widget-info" list-style-type="circle">
                  <li><a href="/sejarah">Sejarah</a></li>
                  <li><a href="/visi-misi">Visi & Misi</a></li>
                  <li><a href="/kegiatan">Kegiatan & Fasilitas</a></li>
                </ul>
              </li>
              <li><a href="/dashboard">Pendaftaran</a></li>
              <li><a href="/kontak">Kontak kami</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="footer__text-widget">
            <h5>cONTACT US</h5>
            <ul class="footer__widget-info">
              <li><span class="fa fa-map-marker"></span>Jl. K. H. Wahid Hasyim No.3, Kwala Bingai, Kec. Stabat, Kabupaten Langkat, Sumatera Utara 20811</li>
              <li><span class="fa fa-phone"></span> +62 812 3456 789</li>
              <li><span class="fa fa-headphones"></span> ulumulquran@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__text-copyright">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="../../../static/assetsUserPage/js/jquery-3.3.1.min.js"></script>
<script src="../../../static/assetsUserPage/js/bootstrap.min.js"></script>
<script src="../../../static/assetsUserPage/js/jquery.slicknav.js"></script>
<script src="../../../static/assetsUserPage/js/owl.carousel.min.js"></script>
<script src="../../../static/assetsUserPage/js/main.js"></script>
