<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{data.title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/assestAdmin/login/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body class="">
    <div class="container vh-100 d-flex justify-content-center align-items-center">
      <div class="card rounded my-5 mx-4 mx-md-0" style="max-width: 800px; width: 90%; height: auto">
        <div class="row g-0">
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="../../static/assestAdmin/img/hero-3.jpg" class="img-fluid h-100 w-100 object-fit-cover" alt="img" loading="lazy" />
          </div>

          <div class="col-md-6 p-4">
            <div class="mb-4">
              <h3 class="fw-bold">Halaman Login Admin <span class="text-success">Yayasan Ulumul Qur'an</span>!</h3>
              <small class="text-muted fw-semibold">Silahkan masuk untuk mengakses Dashboard Admin</small>
            </div>
            <form id="loginAdminForm">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input autofocus id="username" type="username" class="form-control rounded" placeholder="Username" id="username" />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" type="password" class="form-control rounded" placeholder="Password" id="password" />
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-sm rounded text-white" style="background-color: #3c723a">
                  <span>Masuk <i class="ri-login-box-line"></i></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if category == 'danger' %}
    <script>
      swal({
        icon: "error",
        text: "{{ message }}",
      });
    </script>
    {% elif category == 'success' %}
    <script>
      swal({
        icon: "success",
        text: "{{ message }}",
      });
    </script>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
      // jQuery code
      $(document).ready(function () {
        $("#loginAdminForm").submit(function (e) {
          e.preventDefault();
          let username = $("#username").val();
          let password = $("#password").val();

          if (!username && !password) {
            swal("Oops!", "username dan password harus diisi", "error");
            return;
          }
          if (!username) {
            swal("Oops!", "username harus diisi", "error");
            return;
          }
          if (!password) {
            swal("Oops!", "Password harus diisi", "error");
            return;
          }

          $.ajax({
            type: "POST",
            url: "/authAdmin",
            data: {
              username: username,
              password: password,
            },
            success: function (response) {
              if (response) {
                swal("Hore", "Login Berhasil!", "success").then(() => {
                  window.location.href = "/admin";
                });
              } else {
                swal("Oops!", response.msg, "error");
              }
            },
            error: function (response) {
              swal("Oops!", response.responseJSON.msg, "error");
            },
          });
        });
      });
    </script>
  </body>
</html>
