{% include 'dashboard_user/layouts/header.html' %}
<body>
  <!-- Offcanvas & Header Menu Begin -->
  {% include 'dashboard_user/layouts/navbar.html' %}
  <!-- Offcanvas & Header Menu End -->

  <!-- Main Content Begin -->
  <div class="d-flex" id="wrapper">
    <!-- Sidebar Begin -->
    {% include 'dashboard_user/layouts/sidebar.html' %}
    <!-- Sidebar End -->

    <!-- Page content wrapper -->
    <div id="page-content-wrapper">
      <!-- Top navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
          <button class="border-0" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
        </div>
      </nav>
      <!-- Page content -->
      <div class="container">
        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="breadcrumb__option">
                  <a href="/"><span class="fa fa-home"></span> Beranda</a>
                  <a href="/dashboard"> Dashboard</a>
                  <span>{{data.title}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Breadcrumb End -->
        {% if user_info['status formulir'] != "Done" and user_info['status dokumen'] != "Done" %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Formulir dan Dokumen belum disetujui</h4>
            <p class="card-text mb-2">Data anda sedang diverifikasi, silahkan tunggu atau hubungi admin</p>
            <a href="/dashboard/status" class="btn btn-user">Cek status pendaftaran</a>
          </div>
        </div>
        {% elif pay_submitted %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Bukti Pembayaran sudah dikirim</h4>
            <p class="card-text mb-2">Anda sudah mengirim bukti pembayaran, silahkan cek status pendaftaran</p>
            <a href="/dashboard/status" class="btn btn-user">Cek status pendaftaran</a>
          </div>
        </div>
        {% else %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Pembayaran Administrasi</h4>
            <h5>Biaya Administrasi</h5>
            <ul>
              <li>Biaya Pendaftaran = Rp.250.000,-</li>
              <li>Biaya Pendaftaran Alumni MTs Ulumul Qur'an = Rp. 150.000,-</li>
              <li>Biaya administrasi pendidikan MTs/MAS sebesar Rp.5.750.000,-</li>
              <li>Khusus santri MTs Ulumul Qur'an yang melanjutkan ke MAS Ulumul Qur'an dikenakan biaya administrasi pendidikan sebesar Rp.5.350.000,-</li>
            </ul>
            <h5 class="mb-1">Total biaya administrasi santri baru = Rp.6.000.000,-</h5>
            <h5>Total biaya administrasi santri alumni MTs = Rp.5.500.000,-</h5>
            <h5 class="mt-3">Transfer ke BSI (Bank Syariah Indonesia)</h5>
            <ul style="list-style: none">
              <li>Nomor Rekening : 0123456789</li>
              <li>Atas Nama : Yayasan Ulumul Qur'an</li>
            </ul>

            <form method="POST" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="bukti" class="form-label">Upload Bukti Pembayaran</label>
                <p class="card-text fw-bold" style="margin: 0">Pastikan nominal yang di transfer sesuai dengan total biaya</p>
                <div class="input-group mb-3">
                  <input type="file" class="form-control" id="inputGroupFile02" name="bukti" accept=".jpg, .jpeg, .png" required />
                </div>
                <div class="form-text">File harus dalam format JPG, JPEG, atau PNG</div>
              </div>
              <button type="submit" class="btn btn-user w-100">Kirim Bukti Pembayaran</button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if category == 'danger' %}
  <script>
    swal({
      icon: "error",
      text: "{{ message }}",
    });
  </script>
  {% elif category == 'success' %}
  <script>
    swal({
      icon: "success",
      text: "{{ message }}",
    });
  </script>
  {% endif %} {% endfor %} {% endif %} {% endwith %} {% include 'dashboard_user/layouts/footer.html' %}
</body>
